*, *::after, *::before {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  :root {
    --dark-mode-button-center: 131.81px;
    --restart-button-center: 93.36px ;

    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --primary-color: #10101e;
    --secondary-color: #fff;
    --cellX-borderRadius: 5px;
    --cell-borderRadius: 1px;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    transition: .4s;
    text-align: center;
  }

  body.dark {
      background-color: #10101e;
      transition: .4s;
  }

  .board {
    position: absolute;
    left: calc(50% - 300px / 2);
    top: calc(50% - 300px / 2);
    width: calc(var(--cell-size) * 3);
    height: calc(var(--cell-size) * 3);
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .3);
    border-radius: 20px;
  }
  
  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 0.1px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .4s;
    border-radius: var(--cell-borderRadius);
  }

  body.dark .cell {
    border: 1px solid var(--secondary-color);
  }
  
   .cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
    transition: .4s;
  }
  
  .cell:nth-child(3n + 1) {
    border-left: none;
    transition: .4s;
  }
  
  .cell:nth-child(3n + 3) {
    border-right: none;
    transition: .4s;
  }
  
  .cell:last-child, .cell:nth-child(8), .cell:nth-child(7) {
    border-bottom: none;
    transition: .4s;
  }

  body.dark .cell:first-child, body.dark .cell:nth-child(2), body.dark .cell:nth-child(3) {
    border-top: none;
  }
  
  body.dark .cell:nth-child(3n + 1) {
    border-left: none;
  }
  
  body.dark .cell:nth-child(3n + 3) {
    border-right: none;
  }
  
  body.dark .cell:last-child, body.dark .cell:nth-child(8), body.dark .cell:nth-child(7) {
    border-bottom: none;
  }
  
  .cell.x, .cell.circle {
    cursor: not-allowed;
  }
  
  .cell.x::before, .cell.x::after, .cell.circle::before {
    background-color: var(--primary-color);
    transition: .4s;
  }

  body.dark .cell.x::before, body.dark .cell.x::after, body.dark .cell.circle::before {
    background-color: var(--secondary-color);
  }
  
  .board.x .cell:not(.x):not(.circle):hover::before, .board.x .cell:not(.x):not(.circle):hover::after, .board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgrey;
    transition: .4s;
    border-radius: var(--cellX-borderRadius);
  }

  body.dark .board.x .cell:not(.x):not(.circle):hover::before, body.dark .board.x .cell:not(.x):not(.circle):hover::after, body.dark .board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: darkgrey;
  }
  
  .cell.x::before, .cell.x::after, .board.x .cell:not(.x):not(.circle):hover::before, .board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    border-radius: var(--cellX-borderRadius);
  }
  
  .cell.x::before, .board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
  }
  
  .cell.x::after, .board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
  }
  
  .cell.circle::before, .cell.circle::after, .board.circle .cell:not(.x):not(.circle):hover::before, .board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .cell.circle::before, .board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }
  
  .cell.circle::after, .board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--secondary-color);
    transition: .4s;
  }

  body.dark .cell.circle::after, body.dark .board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: var(--primary-color);
  }
  
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
    font-family: sans-serif;
    transition: .4s;
  }

  body.dark .winning-message {
    background-color: rgba(155, 155, 155, 0.9);
    color: var(--primary-color);
  }
  
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: .25em .5em;
    cursor: pointer;
    transition: .4s;
  }

  body.dark .winning-message button {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    transition: .4s;
  }
  
  .winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
    transition: .4s;
  }

  body.dark .winning-message button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .winning-message.show {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.4s;
  }

  .restart {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: #10101e;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: calc(50% - var(--restart-button-center) / 2 - 1%);
    bottom: 15%;
    transition: 0.4s;
  }

  body.dark .restart {
    background-color: #0a0a13;
    color: #fff;
    border: 1px solid white;
  }

  .restart:hover {
    background-color: #10101e;
    color: #fff;
  }

  body.dark .restart:hover {
    background-color: #fff;
    color: #10101e;
  }

  .scoreboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    height: 50px;
    font-family: sans-serif;
    position: absolute;
    left: calc(50% - 300px / 2);
    top: 19%;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 10px;
  }

  .playerOne, .playerTwo {
    padding: 5px 0 0 0;
  }

  .startScreen.show {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    justify-items: center;
    align-items: center;
  }
  
  .startScreen {
    display: none;
  }
  
  .startGame {
    height: 40px;
    width: 150px;
    position: absolute;
    left: calc(50% - 150px / 2);
    top: 70%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fff;
    color: #10101e;
  }

  .startGame:hover {
    background-color: #10101e;
    color: #fff;
  }

  .name {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    left: calc(50% - 300px / 2);
  }

  .username {
    height: 40px;
    width: 300px;
    margin: 0 0 20px 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
  }

  .playerOneInput {
    margin: 0 0 40px 0;
  }

  .playerTwoInput {
    margin: 0 0 40px 0;
  }

  .playerOneInputReq, .playerTwoInputReq {
    font-family: sans-serif;
    font-size: 15px;
    margin: 0;
    position: relative;
    bottom: 200%;
    color: red;
  }

  .scoreboard, .startScreen.show, .playerOneInput, .playerTwoInput, .startGame {
    transition: 0.5s;
  }

  .playerOneInput:focus, .playerTwoInput:focus {
    background-color: #10101e;
    color: #fff;
  }

  .playerOneInput:hover, .playerTwoInput:hover, .startGame:hover {
    background-color: #10101e;
    color: #fff;
  }

  body.dark .scoreboard, body.dark .startScreen.show, body.dark .playerOneInput, body.dark .playerTwoInput, body.dark .startGame {
    background-color: #10101e;
    color: #fff;
  }

  body.dark .playerOneInput:hover, body.dark .playerTwoInput:hover, body.dark .startGame:hover {
    background-color: #fff;
    color: #10101e;
  }

  .sec-1, .sec-2 {
    transition: .5s;
  }

  .toggleClass {
    font-size: 20px;
    background-color: #fff;
    color: #10101e;
    font-family: sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
  }
  
  .toggleClass:before {
    display: flex;
    position: absolute;
    left: calc(50% - var(--dark-mode-button-center) / 2);
    top: calc(5%);
    content: 'Dark Mode ';
    transition: 0.3s;
    border: 2px solid #10101e;
    border-radius: 10px;
    padding: 15px;
  }

  body.dark .toggleClass {
    background-color: #10101e;
    color: #fff;
    font-size: 20px;
  }

  body.dark .toggleClass:before {
    display: flex;
    position: absolute;
    left: calc(50% - var(--dark-mode-button-center) / 2);
    content: 'Light Mode';
    border-color: #fff;
 }
